<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jardin Enchanté - App</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');
    </style>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div id="vue-app" data-username="{{ app.user ? app.user.username : '' }}"></div>
{{ encore_entry_script_tags('app') }}
</body>
</html>