{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h1>Bonjour {{ app.user.username }}!</h1>
    {% else %}
        <h1>Bonjour!</h1>
    {% endif %}
    <p>Nous sommes le {{ "now"|format_date('full') }}</p>
    <h1 id="projet-plantes-">Projet Plantes 🌱</h1>
    <h2 id="description">Description</h2>
    <p>Une application web développée avec Symfony pour la gestion de plantes et leur entretien. Cette application permet aux utilisateurs de gérer leur collection de plantes, de suivre leur entretien et de se renseigner sur les plantes.</p>
    <h2 id="objectifs">Objectifs</h2>
        <p>Gestion des utilisateurs (authentification, profils)</p>
        <p>Gestion complète des plantes (CRUD)</p>
        <p>Journal d&#39;entretien des plantes</p>
        <p>Interface multilingue</p>
        <p>Base de données relationnelle</p>
        <p>Dates en format localisé</p>
        <p>Upload d&#39;images pour les plantes</p>
        <p>Système de catégorisation</p>
        <p>Gestion des rôles utilisateurs</p>
</div>
{% endblock %}
