<form method="post" action="{{ path('app_maintenance_log_delete', {'id': maintenance_log.id}) }}" onsubmit="return confirm('{{ 'delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ maintenance_log.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>
