{% extends 'base.html.twig' %}

{% block title %}New MaintenanceLog{% endblock %}

{% block body %}
    <h1>{{ 'create_new_maintenance_log'|trans }}</h1>

    {{ include('maintenance_log/_form.html.twig') }}

    <a href="{{ path('app_maintenance_log_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}
